<div class="flex flex-col items-center mb-6 mt-6 px-[20px]">
  <div class="w-24 h-24 rounded-full bg-gray-300 mr-4 mb-4"></div>
  <div class="flex-1">
    <div class="h-4 bg-gray-300 mb-2 relative overflow-hidden w-24">
      <div
        class="h-full bg-opacity-50 bg-white absolute left-0 animate-fill"
      ></div>
    </div>
  </div>

  <div class="h-4 bg-gray-300 mb-2 relative overflow-hidden w-44">
    <div
      class="h-full bg-opacity-50 bg-white absolute left-0 animate-fill"
    ></div>
  </div>
  <div class="h-4 bg-gray-300 mb-2 relative overflow-hidden w-44">
    <div
      class="h-full bg-opacity-50 bg-white absolute left-0 animate-fill"
    ></div>
  </div>
  <div class="h-4 bg-gray-300 mb-2 relative overflow-hidden w-44">
    <div
      class="h-full bg-opacity-50 bg-white absolute left-0 animate-fill"
    ></div>
  </div>
</div>
