<div class="p-3 rounded shadow-xl repo-container bg-white">
  <div class="h-5 bg-gray-200 mt-4 mb-4 w-full relative overflow-hidden">
    <div class="h-full bg-opacity-50 bg-white absolute w-3 animate-fill"></div>
  </div>
  <div class="h-5 bg-gray-200 mb-4 w-full relative overflow-hidden">
    <div class="h-full bg-opacity-50 bg-white absolute w-3 animate-fill"></div>
  </div>
  <div class="h-5 bg-gray-200 mb-4 w-1/2 relative overflow-hidden">
    <div
      class="h-full bg-opacity-50 bg-white absolute left-0 animate-fill"
    ></div>
  </div>
</div>
